@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500;700&family=Neucha&display=swap');

#root{
    font-family: 'Montserrat', sans-serif;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
.navMenu{ 
    a{
        text-decoration: none;
        color :#FF6060;
        font-size: 24px;
        text-transform: uppercase;
        }
        :first-child{
        margin-right: 5vh;
    }

}
.header{ 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.backBanner{
    margin-top: 5vh;
    max-width: 1240px;
    position: relative;
    img{ 
        z-index: 1;
        height: auto;
        border-radius: 20px;
        filter: brightness(80%);
        -webkit-filter: brightness(80%);      
    }
    h1{
        position: absolute;
        z-index: 9;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: white;
        font-weight: 200;
        font-size: 42px;
    }
}
.cardsContainer{
    background-color: #F7F7F7 ;
    border-radius: 50px;
    padding: 7vh;    
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 6vh; 
}
.card{
    position: relative;
    width: 330px;
    height: 330px;

    .blackGradient{
        position: absolute;
        border-radius: 20px;
        box-shadow: inset -0px -100px 30px rgba(0, 0, 0, .6);
        width: 330px;
        height: 330px;
    }
    img{   
        z-index: 1;
        border-radius: 20px;
        width: 330px;
        height: 330px;
        object-fit: cover; 
    
    }
    span{
        z-index: 9;
        height: 50px;
        display: block;
        position: absolute;
        bottom :30px;
        left: 20px;
        h3{
            font-size: 16px;
            font-weight: 100;
            color: white;
        }
    }
}
.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    padding-top: 20px;

    img{
        max-width: 120px ;
        margin: 20px; 
    }
    p{
        color: white;
        margin-bottom: 30px;
    }
}