@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500;700&family=Neucha&display=swap");
@media screen and (max-width: 1279px) {
  .App {
    padding: 0px 10px;
  }
  .App .backBanner {
    margin-top: 20px;
  }
  .App .backBanner img {
    width: 100%;
    height: 110px;
  }
  .App .backBanner h1 {
    font-size: 25px;
    text-align: left;
    left: 40%;
    top: 30%;
    width: 250px;
  }

  header img {
    max-width: 150px;
  }

  header .navMenu :first-child {
    margin-right: 10px;
  }
  header .navMenu a {
    font-size: 13px;
  }

  main.cardsContainer {
    background-color: white;
    border-radius: 0px;
    padding: 0px;
    align-items: center;
    margin-top: 20px;
  }

  section.cardAlign {
    width: 100%;
    gap: 20px;
  }

  .cardAlign .card {
    width: 100%;
    height: 255px;
    margin-left: auto;
    margin-right: auto;
  }

  .card a img {
    width: 100%;
    height: 255px;
  }

  .card a .blackGradient {
    width: 100%;
    height: 255px;
  }

  div.BannerPage img {
    height: 255px;
  }

  .left h2 {
    font-size: 20px;
    margin-top: 0px;
  }

  div.alltexts {
    display: block;
  }

  article.cardTop {
    display: block;
  }

  div.right {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  span#starbase img {
    width: 15px;
    margin-left: 0px;
    margin-right: 5px;
  }

  .cardTop .profilecard .profile {
    width: 32px;
    height: 32px;
  }

  article.cardTop .profilecard p {
    font-size: 12px;
    margin-top: 10px;
  }

  article.cardTop .left li {
    width: 100%;
  }

  div.halfsize div {
    width: auto;
  }

  div.textExpand p {
    width: auto;
  }

  div.backBanner img {
    max-width: 100%;
    height: 225px;
    object-fit: cover;
  }

  h1.ultraBig {
    font-size: 100px;
    margin-top: 200px;
  }

  h2.center {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  div.footer {
    margin-top: 100px;
  }

  .sliderImg {
    height: 355px;
  }

  img.navArrow {
    height: 20px;
    width: 12px;
  }

  div.arrows {
    position: relative;
    z-index: 999;
    margin-top: -40px;
    transform: translateY(220px);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .hideArrow {
    height: 20px;
    width: 12px;
    opacity: 0;
    pointer-events: none;
    cursor: default;
  }

  .hideText .textExpandPage .textContent {
    display: none;
  }

  .textExpandPage p.textContent {
    width: auto;
  }

  .indicator {
    opacity: 0;
  }
}
#starbase img {
  width: 30px;
  margin-left: 8px;
  margin-top: 10px;
}

.star0 :nth-child(n+1) {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.star1 :nth-child(n+2) {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.star2 :nth-child(n+3) {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.star3 :nth-child(n+4) {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.star4 :nth-child(n+5) {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.star5 :nth-child(n+6) {
  opacity: 0.4;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.cardsContainer {
  background-color: #F7F7F7;
  border-radius: 50px;
  padding: 7vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.cardAlign {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
}

.card {
  position: relative;
  width: 330px;
  height: 330px;
}
.card :hover {
  cursor: pointer;
}
.card .blackGradient {
  position: absolute;
  border-radius: 20px;
  box-shadow: inset 0px -100px 30px rgba(0, 0, 0, 0.6);
  width: 330px;
  height: 330px;
}
.card img {
  z-index: 1;
  border-radius: 20px;
  width: 330px;
  height: 330px;
  object-fit: cover;
}
.card span {
  z-index: 9;
  height: 50px;
  max-width: 250px;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.card span h3 {
  font-size: 16px;
  font-weight: 100;
  color: white;
}

.cardTop {
  display: flex;
  justify-content: space-between;
}
.cardTop .profilecard {
  margin-top: 5px;
  display: flex;
}
.cardTop .profilecard p {
  margin: 0;
  max-width: 100px;
  max-height: 80px;
  font-size: 16pt;
  color: #FF6060;
  text-align: right;
  margin-right: 20px;
  margin-top: 14px;
}
.cardTop .profilecard .profile {
  max-height: 80px;
  border-radius: 600px;
}
.cardTop .left ul {
  display: flex;
  padding: 0%;
}
.cardTop .left li {
  width: 150px;
  text-align: center;
  background-color: #FF6060;
  border-radius: 20px;
  margin-right: 20px;
  padding: 5px;
  list-style: none;
  color: white;
  font-size: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.backBanner {
  margin-top: 5vh;
  max-width: 1240px;
  position: relative;
}
.backBanner img {
  z-index: 1;
  height: auto;
  border-radius: 20px;
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}
.backBanner h1 {
  position: absolute;
  z-index: 9;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
  font-weight: 200;
  font-size: 42px;
}

.BannerPage {
  margin-top: 5vh;
  margin-bottom: 10px;
  position: relative;
  max-width: 1270;
}
.BannerPage img {
  z-index: 1;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.alltexts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}

.titlExpand {
  z-index: 2;
  position: relative;
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 10px;
}
.titlExpand p {
  color: white;
  font-size: 18px;
}
.titlExpand img {
  max-height: 20px;
  vertical-align: middle;
  transform: rotate(0deg);
}

.textExpandPage {
  color: #FF6060;
  font-weight: 100;
  transform: translateY(-20px);
  line-height: 25px;
}
.textExpandPage p {
  margin: 0;
  padding: 40px 10px 20px 10px;
  width: 100%;
  background-color: #F6F6F6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.textExpandPage li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.halfsize {
  gap: 30px;
}
.halfsize div {
  width: 96%;
}

.full-size {
  width: 100%;
}

.hidetext {
  margin-bottom: 80px;
}
.hidetext :first-child img {
  transform: rotate(180deg);
}
.hidetext .textExpand, .hidetext .textExpandPage {
  transform: translate(0px, -100%);
  margin-top: -100%;
  opacity: 0;
}

.hideBlock img {
  transform: rotate(180deg);
}

.alltexts_about {
  flex-direction: column;
}

.textExpand {
  color: #FF6060;
  font-weight: 100;
  transform: translateY(-20px);
  line-height: 25px;
}
.textExpand p {
  margin: 0;
  padding: 40px 10px 20px 10px;
  background-color: #F6F6F6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.textExpand li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.center {
  text-align: center;
}

.ultraBig {
  font-size: 30vh;
  color: #FF6060;
  font-weight: 700;
  margin-top: 8vh;
  margin-bottom: 2vh;
  text-align: center;
}

.text404 {
  margin-top: 8vh;
  margin-bottom: 7vh;
  text-align: center;
  color: #FF6060;
  text-decoration: underline;
}

.slider {
  position: relative;
  margin-top: 30px;
}

.sliderImg {
  width: 100%;
  max-height: 355px;
  object-fit: cover;
  border-radius: 20px;
}

.navArrow {
  position: relative;
  height: 80px;
  width: 45px;
}

.arrows {
  position: relative;
  height: 100%;
  z-index: 999;
  margin-top: -100px;
  transform: translateY(250px);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.hideArrow {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.indicator {
  position: relative;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 40px;
  color: white;
}

#root {
  font-family: "Montserrat", sans-serif;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.navMenu {
  z-index: 9999;
}
.navMenu a {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
  text-transform: uppercase;
}
.navMenu :first-child {
  margin-right: 5vh;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: #FF6060;
  font-weight: 200;
  font-size: 25pt;
  margin-bottom: 5px;
}

h3 {
  color: white;
  font-weight: 300;
}

h4 {
  margin-top: 5px;
  color: #FF6060;
  font-weight: 200;
  font-size: 14pt;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  padding-top: 20px;
}
.footer img {
  max-width: 120px;
  margin: 20px;
}
.footer p {
  color: white;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
