.alltexts{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}

.titlExpand{
    z-index: 2;
    position: relative;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;

    p{
        color: white;
        font-size: 18px;
    }
    img{
        max-height: 20px;
        vertical-align: middle;
        transform: rotate(0deg);
    }
}
.textExpandPage{
    color: #FF6060;
    font-weight: 100;
    transform: translateY(-20px);
    line-height: 25px;
   
    p{
        margin: 0;
        padding: 40px 10px 20px 10px;
        width: 100%; 
        background-color: #F6F6F6;   
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;  
    }
    li{
        margin: 0;
        list-style: none;
        padding: 0;
    }
}
.halfsize {
    gap: 30px;
    div{ 
    width: 96%;   
    }    
}

.full-size{
    width: 100%;
    
}
.hidetext{
    :first-child{
        img{
            transform: rotate(180deg);
        }
    }
    .textExpand,.textExpandPage{
    transform: translate(0px, -100%);
    margin-top: -100%;
    opacity: 0;}
    margin-bottom: 80px;  
}
.hideBlock{
  img{
      transform: rotate(180deg);
  }
}

.alltexts_about{
    flex-direction: column;  
}
.textExpand{
    color: #FF6060;
    font-weight: 100;
    transform: translateY(-20px);
    line-height: 25px;
   
    p{
        margin: 0;
        padding: 40px 10px 20px 10px;
        background-color: #F6F6F6;   
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;  
    }
    li{
        margin: 0;
        list-style: none;
        padding: 0;
    }
}